html, body {
	font-family: 'Oxygen', sans-serif;
	background-image: url("img/bgbw.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

a {
	color: white;
}

a:hover {
	color: white;
}
	

h1 {
	font-size: 3.5em;
}

#main {
	display: none;
}

#about-header, #projects-header{
	display: none;
	margin-bottom: 50px;
}

.nav-item {
	font-size: 22px;
	padding: 0 20px;
	cursor: pointer;
}

.nav-link:hover {
  border-bottom: 1px solid #ffffff;
}

.logo {
	font-size: 34px;
}

.segment {
	min-height: 100vh;
}

.centered {
	margin-top: 8em;
}

.fixed {
	padding: 1px;
}

.gray-bg {
	background-color: rgba(35, 35, 35, 0.74);
}

.segment-header {
	text-align: center;
	padding-top: 1em;
}

.icon {
	color: white;
	padding: 15px;
}

.profile-pic {
	border: 2px solid white;
	margin-bottom: 2em;
}

.project-entry {
	margin-bottom: 3em;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.project-img {
	height: 400px;
	margin-bottom: 2em;
}