html {
    scroll-padding-top: 60px;
}

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    background-color: hsl(200, 6%, 14%);
    color: #e8e6e3;
}

* {
    margin: 0;
}

a {
    color: hsl(200, 50%, 75%);
    text-decoration: none;
}

hr {
    border: 1px solid rgba(232, 230, 227, 0.3);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 500px) {
    hr {
        width: 200px;
    }
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: hsl(200, 6%, 14%);
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 16px;
    }

    .navbar {
        visibility: hidden;
    }
}

.nav-item {
    float: left;
    color: #e8e6e3;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 16px;
    text-decoration: none;
}

.nav-item:hover:not(.logo){
    color: rgba(232, 230, 227, 0.55);
}

.logo {
    font-size: 28px;
    letter-spacing: 0;
    padding: 12px 26px;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.main-header {
    text-align: center;
    font-size: 1.45em;
    margin: 0 5px 25px 5px;
}

.name {
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.title {
    font-weight: lighter;
    letter-spacing: 1px;
}

.social {
    color: #e8e6e3;
    font-size: 38px;
    margin: 0 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bob {
    0%, 100% {
        transform: translateY(-10px); 
    }
    50% {
        transform: translateY(0);
    }
}

.scroll-arrow {
    position: absolute;
    bottom: 100px;
    font-size: 28px;
    opacity: 0;
    animation: fadeIn 2s 2.5s, bob 1.75s ease infinite;
    animation-fill-mode: forwards;
}

.section-header {
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.about-section {
    background-color: hsl(200, 6%, 92%);
    color: black;
}

.about-section a {
    font-weight: bold;
    color: hsl(200, 50%, 35%);
}

.about-section p {
    margin-top: 12px;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.profile-pic {
    width: 300px;
    border-radius: 50%;
    margin: 5px 75px;
}

.about-info {
    max-width: 575px;
    margin: 5px 75px;
}

@media only screen and (max-width: 900px) {
    .section-header {
        margin-bottom: 26px;
    }

    .about-content {
        flex-direction: column;
    }
    
    .profile-pic {
        width: 200px;
        margin: 25px;
    }

    .about-info {
        margin: 0 15px 40px 15px;
    }
}

.projects-header {
    padding-top: 42px;
    margin-bottom: 65px;
}

.project-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px
}

.project-card {
    background-color: #e8e6e3;
    margin-top: -10px;
    margin-left: -10px;
    width: 100px;
    border-radius: 8px;
}

.project-img {
    width: 475px;
    border: 2px solid #e8e6e3;
    border-radius: 8px;
    margin: 0 60px 0 15px;
}

.project-info {
    max-width: 575px;
    margin: 0 15px 0 60px;
}

.project-info * {
    margin-bottom: 10px;
}

.project-link {
    font-size: .85em;
    margin-left: 3px;
}

@media only screen and (max-width: 1200px) {
    .project-entry {
        flex-direction: column;
    }

    .project-img {
        margin: 0 5px 25px 5px;
        padding-left: 0;
    }

    .project-info {
        max-width: 575px;
        margin: 0 10px 0 10px;
    }
    
}

@media only screen and (max-width: 800px) {
    .underline {
        text-decoration: underline;
    }

    .projects-header {
        padding-top: 25px;
        margin-bottom: 55px;
    }

    .project-img {
        width: 330px;
    }

    .project-info {
        margin: 0 15px 0 15px;
    }
}